#
# 
[Unit]
Description=System Info Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=%i
ExecStart=/home/%i/pyenv/bin/python3 \
	  /home/%i/pyenv/bin/pserve \
	   -i /home/%i/etc/rsysinfo/rsysinfo.ini

[Install]
WantedBy=multi-user.target
